div {
  border: 1px solid black;
  box-shadow: 2px 2px 1px #888888;
}

li {
  list-style-type: none;
}

body {
  background-color: #2A3132;
}

label {
  font-size: 2rem;
}

.navBar {
  z-index: 1;
  background-color: #90AFC5;
  display: flex;
  position: fixed;
  height: 25%;
  width: 100%;
}

.navBarImg {
  width: 20%;
  height: 20%;
  margin-top: 2%;
  position: fixed;
  left: 4%;
  z-index: 1;
  background-color: #763626;
}


.sectionsDesktop {
  background-color: #336B87;
}

.navBarTitle {
  background-color: #336B87;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  width: 50%;
  margin-left: 34%;
  position: fixed;
}

.sections {
  width: 70%;
  margin-left: 26%;
  position: fixed;
  margin-top: 18%;
}

@media  only screen and (min-width: 768px) {
    .sectionsDesktop {
      margin-top: 8%;
    }
}

.sectionsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  padding-bottom: 2%;
}

.sectionsItem {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* ABOUT SECTION */

.aboutSection {
  position: absolute;
  display: flex;
  top: 30%;
  height: 69%;
}

.imgContainer {
  display: flex;
  flex-flow: column;
  width: 30%;
  height: 100%;
}

.aboutImg1 {
  width: 100%;
  height: 50%;
  background-color: #763626;
}

.aboutImg2 {
  width: 100%;
  height: 50%;
  background-color: #763626;
}

.aboutParagraph {
  background-color: #336B87;
  font-size: 170%;
  width: 70%;
}

/* TOURS */

.toursSection {
  background-color: #336B87;
  display: flex;
  top: 104%;
  position: absolute;
  height: 72%;
  width: 100%;
  align-items: center;
  flex-flow: column;
}

.toursTitle {
  display: flex;
  justify-content: center;
  height: 10%;
  width: 50%;
  align-items: center;
}

.linksContainer {
  display: flex;
  justify-content: center;
  height: 90%;
  width: 90%;
}

.tour-text {
  justify-content: center;
}

/* Contact Section */

.contactSection {
  background-color: #336B87;
  text-align: center;
  width: 100%;
  top: 180%;
  position: absolute;
  font-size: 2rem;
}

#phoneNumber {
  font-size: 2rem;
}

#email {
  font-size: 2rem;
}
